*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

.gradle
.idea
/local.properties
/.idea
/build
/gradle
*.iml
/app/build
/app/app.iml
gradlew
/.idea/workspace.xml
/.idea/libraries
/.idea/vcs.xml
.DS_Store
/captures
.externalNativeBuild